* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.container1,
.container2 {
  border: 2px solid black;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  padding: 20px;
}

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container1 .number {
  border: 1px solid black;
  width: 50%;
  margin: auto;
  border-radius: 200px;
  display: inline-block;
}


.attribution {
  position: fixed;
  left: 20px;
  bottom: 0;
}
